<p>
    pruebas psdojoisafcdjo
</p>
<div class="row" *ngFor="let product of listShoppingCart">

    <div class="alert alert-secondary">
        <div class="row">
            <div class="col-md-3 text-center" style="border: 2px solid black;"  >
                <img src="{{product.image}}" class="rounded float-left" 
                     height="200" width="200">
            </div>
            <div class="col-md-2">
                <h4 class="alert-heading">{{ product.nombreProducto }}</h4>
                <p>
                    {{ product.descripcionProducto}}
                </p>

            </div>
        </div>
        <hr>
        <div class="text-end">
            <input type="button" class="btn btn-danger" (click)="removeItemFromShoppingCart(product)" value="Eliminar">
        </div>
    </div>
</div>