<div *ngIf="listShoppingCart.length <= 0">
    <h4>Tu carrito está vació..</h4>
</div>
<div *ngIf="listShoppingCart.length > 0">
    <div class="container-fluid">
        <app-row-product-on-cart *ngFor="let product of listShoppingCart"
            [currentProduct]="product"></app-row-product-on-cart>
    </div>
    <hr>
    <div class="text-end">
        <span><b>Total a pagar: </b></span>
        <span class="text-end">{{ total | number }}</span>

    </div>
    <div class="text-end">
        <input type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
            value="Comprar">
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="clientData" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formReactive" (ngSubmit)="saveInvoice()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Factura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" 
                        formControlName="name" 
                        [class.is-invalid]="getterValidName" >
                        <small *ngIf="getterValidName" class="text-danger">
                            Nombre invalido. El nombre debe tener una longitug entre 4 y 50 caracteres.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Apellidos:</label>
                        <input type="text" class="form-control" 
                        formControlName="lastName"
                        [class.is-invalid]="getterValidLastName" >
                        <small *ngIf="getterValidLastName" class="text-danger">
                            Apellidos invalido. El nombre debe tener una longitug entre 4 y 50 caracteres.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Identificación:</label>
                        <input type="text" class="form-control" 
                        formControlName="identification"
                        [class.is-invalid]="getterValidIdentification" >
                        <small *ngIf="getterValidIdentification" class="text-danger">
                            Identificación invalida. La Identificación debe tener entre 8 y 10 caracteres númericos.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Número telefónico:</label>
                        <input type="text" class="form-control" 
                        formControlName="phoneNumber"
                        [class.is-invalid]="getterValidPhoneNumber" >
                        <small *ngIf="getterValidPhoneNumber" class="text-danger">
                            Número telefónico invalido. El Número telefónico debe tener 10 caracteres númericos.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Correo electrónico:</label>
                        <input type="text" class="form-control" 
                        formControlName="emailAddress"
                        [class.is-invalid]="getterValidEmailAddress" >
                        <small *ngIf="getterValidEmailAddress" class="text-danger">
                            Correo electrónico invalido. El Correo electrónico debe tener la estructura juanperez@dominio.com.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Dirección de entrega:</label>
                        <input type="text" class="form-control" 
                        formControlName="deliveryAddress"
                        [class.is-invalid]="getterValidDeliveryAddress" >
                        <small *ngIf="getterValidDeliveryAddress" class="text-danger">
                            Dirección de entrega invalida. La Dirección de entrega debe tener más de 5 caracteres.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Fecha Entrega:</label>
                        <input type="date" class="form-control" 
                        formControlName="deliveryDate"
                        [class.is-invalid]="getterValidDeliveryDate" >
                        <small *ngIf="getterValidDeliveryDate" class="text-danger">
                            Fecha de entrega invalida. La Fecha de entrega tiene que ser máximo un mes después de la compra.
                        </small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" >Realizar pedido</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalAlert" class="alert alert-warning alert-dismissible fade show" hidden="!alertVerification.IsActive">
    <strong>{{alertVerification.Title}}</strong> 
    {{ alertVerification.Message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>