.body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: cornflowerblue;
    color: white;
}

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    align-content: center;
}